<div class="fly-footer">
    <p><a href="http://fly.layui.com/">Fly 社区</a> 2018 © <a href="http://www.layui.com/">layui.com</a></p>
    <p> <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a> <a href="/extend/" target="_blank">组件平台</a>
      <a href="/store/" target="_blank">模板市场</a> <a href="/case/2018/" target="_blank">年度案例</a> <a href="http://fly.layui.com/jie/2461/"
        target="_blank">公众号</a> </p>
    <!-- <p class="fly-union"> <a href="https://www.upyun.com?from=layui" target="_blank" rel="nofollow" upyun=""><img src="//res.layui.com/static/images/other/upyun.png?t=1"></a>
      <span>提供 CDN 赞助</span> </p> -->
</div>