<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/" style="font-size: 24px; color: #fff;"> Aha社区</a>


    {{ if session && !session.isNew }}
    <ul class="layui-nav fly-nav-user">
      <li class="layui-nav-item"> <a class="fly-nav-avatar" href="/admin/center" id="LAY_header_avatar"> <cite class="layui-hide-xs">{{session.username}}</cite>
          <img src="{{session.avatar}}"> <span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child layui-anim layui-anim-upbit" style="top: 60px;">
          <dd><a href="/admin/center">用户中心</a></dd>
          <dd><a href="/admin/seting">基本设置</a></dd>

          <hr style="margin: 5px 0;">
          <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>
        </dl>
      </li> <span class="layui-nav-bar" style="left: 51px; top: 55px; width: 0px; opacity: 0;"></span>
    </ul>


    {{ else }}
    <ul class="layui-nav fly-nav-user">
      <li class="layui-nav-item"> <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login/"></a> </li>
      <li class="layui-nav-item"> <a href="/user/login/">登入</a> </li>
      <li class="layui-nav-item"> <a href="/user/reg/">注册</a> </li>

    </ul>
    {{ /if }}
  </div>
</div>