<div class="fly-header layui-bg-black">
    <div class="layui-container"> <a class="fly-logo" href="/"> <img src="//res.layui.com/static/images/fly/logo.png"
          alt="layui"> </a>
      <ul class="layui-nav fly-nav layui-hide-xs">
        <li class="layui-nav-item layui-this"> <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a> </li>
        <li class="layui-nav-item"> <a href="javascript:;"><i class="iconfont icon-chanpin" style="top: 1px;"></i>专区<span
              class="layui-nav-more"></span></a>
          <dl class="layui-nav-child fly-nav-child">
            <dd><a href="/vipclub/list/layuiadmin/">layuiAdmin</a></dd>
            <hr>
            <dd><a href="/vipclub/list/layim/">LayIM</a></dd>
          </dl> <span class="layui-badge-dot" style="margin: -5px 10px 0; right: 0;"></span>
        </li>
        <li class="layui-nav-item"> <a href="http://www.layui.com/"><i class="iconfont icon-ui"></i>框架</a> </li> <span
          class="layui-nav-bar" style="width: 0px; left: 0px; opacity: 0;"></span>
      </ul>
      <ul class="layui-nav fly-nav-user">
        <li class="layui-nav-item"> <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login/"></a> </li>
        <li class="layui-nav-item"> <a href="/user/login/">登入</a> </li>
        <li class="layui-nav-item"> <a href="/user/reg/">注册</a> </li>
        <!-- <li class="layui-nav-item layui-hide-xs"> <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
            title="QQ登入" class="iconfont icon-qq"></a> </li>
        <li class="layui-nav-item layui-hide-xs"> <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})"
            title="微博登入" class="iconfont icon-weibo"></a> </li> <span class="layui-nav-bar"></span> -->
      </ul>
    </div>
  </div>