{{ extend './layout/layout.html' }}

{{ block 'style' }}

{{ /block }}


{{ block 'content' }}
<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20="" style="padding-top: 5px;">
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">发表新帖</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="article" id="article-form" method="post">
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3"> <label class="layui-form-label">所在专栏</label>
                  <div class="layui-input-block"> <select id="art-tip" lay-verify="required" name="class" lay-filter="column">
                      <option></option>
                      <option value="提问">提问</option>
                      <option value="分享">分享</option>
                      <option value="讨论">讨论</option>
                      <option value="建议">建议</option>
                    </select>
                    <div class="layui-unselect layui-form-select">
                      <div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i
                          class="layui-edge"></i></div>
                      <dl class="layui-anim layui-anim-upbit">
                        <dd lay-value="" class="layui-select-tips">请选择</dd>
                        <dd lay-value="0" class="">提问</dd>
                        <dd lay-value="99" class="">分享</dd>
                        <dd lay-value="100" class="">讨论</dd>
                        <dd lay-value="101" class="">建议</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md9"> <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block"> <input type="text" id="art-title" name="title" required="" lay-verify="required"
                      autocomplete="off" class="layui-input"> </div>
                </div>
              </div>
              <div class="layui-row layui-col-space15 layui-form-item layui-hide" id="LAY_quiz">
                <div class="layui-col-md3"> <label class="layui-form-label">所属产品</label>
                  <div class="layui-input-block"> <select name="project">
                      <option></option>
                      <option value="layui">layui</option>
                      <option value="独立版layer">独立版layer</option>
                      <option value="独立版layDate">独立版layDate</option>
                      <option value="LayIM">LayIM</option>
                      <option value="Fly社区模板">Fly社区模板</option>
                    </select>
                    <div class="layui-unselect layui-form-select">
                      <div class="layui-select-title"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i
                          class="layui-edge"></i></div>
                      <dl class="layui-anim layui-anim-upbit">
                        <dd lay-value="" class="layui-select-tips">请选择</dd>
                        <dd lay-value="layui" class="">layui</dd>
                        <dd lay-value="独立版layer" class="">独立版layer</dd>
                        <dd lay-value="独立版layDate" class="">独立版layDate</dd>
                        <dd lay-value="LayIM" class="">LayIM</dd>
                        <dd lay-value="Fly社区模板" class="">Fly社区模板</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md3"> <label class="layui-form-label" for="L_version">版本号</label>
                  <div class="layui-input-block"> <input type="text" id="L_version" value="" name="version"
                      autocomplete="off" class="layui-input"> </div>
                </div>
                <div class="layui-col-md6"> <label class="layui-form-label" for="L_browser">浏览器</label>
                  <div class="layui-input-block"> <input type="text" id="L_browser" value="" name="browser" placeholder="浏览器名称及版本，如：IE 11"
                      autocomplete="off" class="layui-input"> </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="art-content" name="content" required="" lay-verify="required" placeholder="详细描述" class="layui-textarea fly-editor"
                    style="height: 260px;"></textarea>
                </div>
              </div>
              <div class="layui-form-item"> <button id="article-btn" class="layui-btn" lay-filter="*" lay-submit="">立即发布</button> </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ /block }}

{{ block 'script' }}
<script>
  $('#article-btn').click(function(e) {
    e.preventDefault();
    // layer.open({
         
    //      content: '密码不一致'
    //    });   
    const tip = $('#art-tip').val();
    const title = $('#art-title').val().trim();
    const content = $('#art-content').val().trim();
    if (tip && title && content) {
      $.post('add-article', {tip, title, content}, function (result) {
        
        if (result.status) {
          layer.alert('发表成功', function (res) {
            location.href = '/'
          })

        }else {
          layer.open({
            content: result.msg
          })

        }
      })
    }
    
  })
</script>
{{ /block }}
